rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{messageId} {
      allow read: if request.auth != null
        && request.auth.token.org_id == resource.data.organizationId;
      allow write: if false;
    }

    match /contacts/{contactId} {
      allow read: if request.auth != null
        && request.auth.token.org_id == resource.data.organizationId;
      allow write: if false;
    }
  }
}
